@import 'partials/variables';
@import 'partials/normalize';
@import 'partials/navbar';

.element {
  display: flex;
  color: green;
}

.will-change {
  background: $dark-blue;
  will-change: opacity;
}